.card {
    width: 18rem;
    height: 27rem;
    overflow-y: auto; 
}
.fondo {
    position: relative;
    top: 70px;
}

.cardBoxes {
    margin: 0.75rem;
    padding: 0.75rem
}

.ppal {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

.marginCards {
    margin: 1rem ;
    //margin-left: 3.7rem;
    //height: 27rem;
    //padding: 2rem
    //width: 20%;
}

.gridAllCards {
    margin-right: 238px;
    margin-left: 238px;
    justify-content: space-around;
}

.botn {
    display: flex;
    //position: relative;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    //padding: 8.75em 3.2rem;
    width: 12rem;
    height: 19rem;
    //width: 40%;
    margin: 15rem auto;
    text-transform: uppercase;
    background: none;
    color: #e9dbdb;
    border: 0;
    transition: all 200ms;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    //text-decoration-line: violet;
    background-color: rgba(69, 69, 180, 0.5);  opacity: 0.9;
    box-shadow: 10px 5px 5px black;
}

.botn:hover {
    //border: 1px solid #ababab;
    //color: #e9dbdb;
    color: #e7e40b;
    font-size: 1.5rem;
    width: 13rem;
    height: 20rem;
    //text-decoration: none;
    
}


.fondo {
	background-image: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    //padding: 250px 60px;
    display: flex;
    height: 100%;
    width: 100%;
    //padding-top: 16rem;
    text-align: center;
    top: 0px;
    left: 0px;
    justify-content: space-evenly;
	//background-position: center center;
	background-size: cover;
	//background-repeat: no-repeat;
	position: relative;
}

.panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500);
    background-size: cover;
      padding: 260px 60px; }
.panel2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); 
background-size: cover;
      padding: 260px 60px;}
.panels {
      min-height: 100vh;
      //overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      

    }